<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../../../assets/img/login/login-register.jpg);">
    <div class="login-box card container-login">
        <div class="card-body">
            <form *ngIf="!newPass" class="form-horizontal form-material" id="loginform">
                <a href="javascript:void(0)" class="text-center db"><img src="../../../assets/img/login/logo-icon.png"
                        alt="Home" /><br /><img src="../../../assets/img/login/logo-text.png" alt="Home" /></a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" [(ngModel)]="textUser" name="textUser" type="text" required=""
                            placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" [(ngModel)]="textPwd" name="textPwd" type="password" required=""
                            placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i
                                class="fa fa-lock m-r-5"></i> Recupera Contraseña</a>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" (click)="iniciar()"
                            type="submit">Log
                            In</button>
                    </div>
                </div>
            </form>
            <div class="error">
                {{error}}
            </div>
            <form *ngIf="newPass" class="form-horizontal form-material" id="recuperaform">
                <a href="javascript:void(0)" class="text-center db"><img src="../../../assets/img/login/logo-icon.png"
                        alt="Home" /><br /><img src="../../../assets/img/login/logo-text.png" alt="Home" /></a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12 nueva">
                        Favor de Ingresar tu nueva contraseña
                    </div>
                </div>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" [(ngModel)]="newPassText" name="newPassText" type="password" required="" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" [(ngModel)]="confirmNewPassText" name="confirmNewPassText" type="password" required="" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                            (click)="cambioDePassword()" type="submit">Cambiar Contraseña</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>