/* You can add global styles to this file, and also import other style files */

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: black !important;
}

.mat-tab-label-content{
    color:black !important;
}

.mat-tab-label{
    color: black !important;
}
